body {
  background: var(--primary-color);
  overflow-x: hidden;
  color: var(--primary-text);
}

body::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(100px);
  background-color: #102C51;
}

.blur {
  overflow: hidden;
}

body.blur .Header h2, body.blur .Header svg, body.blur #content>* {
  filter: blur(3px) brightness(0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  user-select: none;
}

.body.blur .Header>* {
  pointer-events: none;
  user-select: none;
}