.InOutMoneyView {
    width: 100%;
    padding: 0px 24px;
}

.ChangeView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
    position: relative;
    height: 30px;
    margin-bottom: 16px;
}

.ChangeView_background {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--primary-button-color);
    z-index: -1;
}

.ChangeView button {
    padding: 4px;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
}

.InOutView {
    /* background-color: var(--card-color); */
    margin-top: 8px;
    /* padding: 16px 12px; */
    border-radius: 8px;
}

.InOutView_item {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--card-color);
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
}


.InOutView_date {
    font-weight: 600;
}

.InOutView_amount {
    text-align: right;
}

.InOutView_for {
    text-align: center;
}

.InOutView_item_titles {
    /* background-color: var(--navy); */
    border: 2px solid var(--green);
}

/* 
.btn-active {
    background-color: var(--primary-button-color);
    border: none;
}

.btn-inactive {
    border: 1px solid var(--primary-button-color);
    background-color: transparent;
} */

.InOutView_item>* {
    text-transform: capitalize;
}

.InOutMoneyView_balance {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
}

.InOutMoneyView_balance h3 {
    font-weight: 500;
    font-size: 16px;
}

.InOutMoneyView_balance p {
    font-size: 32px;
}